In [1]:
import pandas as pd

In [2]:
healthFactorsDF =pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
healthFactorsDF

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88624,2021,2021,ND,North Dakota,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(47.47531977900047, -100.11842104899966)",FV,FV1,Q019,VALUE,38,Gender,Male,GEN,MALE
88625,2021,2021,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Income,"$35,000 - $49,999",INC,INC3550
88626,2021,2021,WI,Wisconsin,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(44.39319117400049, -89.81637074199966)",PA,PA1,Q047,VALUE,55,Income,"$75,000 or greater",INC,INC75PLUS
88627,2021,2021,UT,Utah,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(39.360700171000474, -111.58713063499971)",FV,FV1,Q018,VALUE,49,Income,"$50,000 - $74,999",INC,INC5075
88628,2021,2021,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Income,Data not reported,INC,INCNR

In [3]:
healthFactorsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88629 entries, 0 to 88628
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   88629 non-null  int64
 1   YearEnd                     88629 non-null  int64
 2   LocationAbbr                88629 non-null  object
 3   LocationDesc                88629 non-null  object
 4   Datasource                  88629 non-null  object
 5   Class                       88629 non-null  object
 6   Topic                       88629 non-null  object
 7   Question                    88629 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             88629 non-null  object
 10  Data_Value                  79851 non-null  float64
 11  Data_Value_Alt              79851 non-null  float64
 12  Data_Value_Footnote_Symbol  8778 non-null   object
 13  Data_Value_Footnote         8778 non-null   object
 14  Low_Confidence_Limit        79851 non-null  float64
 15  High_Confidence_Limit       79851 non-null  float64
 16  Sample_Size                 79851 non-null  float64
 17  Total                       3165 non-null   object
 18  Age(years)                  18990 non-null  object
 19  Education                   12660 non-null  object
 20  Gender                      6330 non-null   object
 21  Income                      22155 non-null  object
 22  Race/Ethnicity              25320 non-null  object
 23  GeoLocation                 86977 non-null  object
 24  ClassID                     88629 non-null  object
 25  TopicID                     88629 non-null  object
 26  QuestionID                  88629 non-null  object
 27  DataValueTypeID             88629 non-null  object
 28  LocationID                  88629 non-null  int64
 29  StratificationCategory1     88620 non-null  object
 30  Stratification1             88620 non-null  object
 31  StratificationCategoryId1   88620 non-null  object
 32  StratificationID1           88620 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 22.3+ MB

In [17]:
healthFactorsDF = healthFactorsDF.rename(columns={
    'LocationDesc' : 'Location',
    'YearStart':'Year',
    'Data_Value': 'Question_Percentage'
})

In [21]:
healthFactorsDF2 = healthFactorsDF[["Year", "Location", "Question", "Question_Percentage", "Sample_Size", "Age(years)" ]]
healthFactorsDF2

,Year,Location,Question,Question_Percentage,Sample_Size,Age(years)
0,2020,National,Percent of adults who engage in no leisure-tim...,30.6,31255.0,NaN
1,2014,Guam,Percent of adults aged 18 years and older who ...,29.3,842.0,NaN
2,2013,National,Percent of adults aged 18 years and older who ...,28.8,62562.0,NaN
3,2013,National,Percent of adults aged 18 years and older who ...,32.7,60069.0,NaN
4,2015,National,Percent of adults who achieve at least 300 min...,26.6,30904.0,NaN
...,...,...,...,...,...,...
88624,2021,North Dakota,Percent of adults who report consuming vegetab...,27.2,2690.0,NaN
88625,2021,Puerto Rico,Percent of adults who engage in no leisure-tim...,37.4,347.0,NaN
88626,2021,Wisconsin,Percent of adults who engage in no leisure-tim...,11.8,850.0,NaN
88627,2021,Utah,Percent of adults who report consuming fruit l...,37.1,1451.0,NaN
88628,2021,National,Percent of adults who engage in no leisure-tim...,19.0,178279.0,NaN

In [22]:
healthFactorsDF2 = healthFactorsDF2.dropna()

In [23]:
healthFactorsDF2.head()

,Year,Location,Question,Question_Percentage,Sample_Size,Age(years)
9,2011,Alabama,Percent of adults aged 18 years and older who ...,35.2,598.0,25 - 34
17,2015,Guam,Percent of adults aged 18 years and older who ...,33.7,285.0,55 - 64
24,2015,Puerto Rico,Percent of adults aged 18 years and older who ...,42.0,997.0,55 - 64
25,2011,National,Percent of adults who engage in no leisure-tim...,16.9,20923.0,18 - 24
29,2015,Puerto Rico,Percent of adults who engage in no leisure-tim...,50.4,862.0,45 - 54

In [ ]:
healthFactorsDF2 =